
/* default stayling */
* {
    list-style: none;
    text-decoration: none;
}


li{
    display: inline;
    padding: 0px 6px;
}

body{
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #b2b2b2;
}

.container{
    width: 880px;
    margin: 10px auto;
}
/* Start Navbar Styling */
.navbar{
    background-color: #e14040;
}

.navbar .brand {
    color: aliceblue;
}

.navbar a{
    color: rgb(212, 211, 206);
 }
 

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* End Navbar Styling */



/* Start Footer Styling */
.footer {
    color: white;
    background-color: #0009;
}
/* End Footer Styling */


