@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* base styles */
*{
    margin: 0;
    font-family: "Quicksand";
    color: #333;
    list-style: none;
    text-decoration: none;
}



li{
    display: inline;
    padding: 0px 6px;
}



.container{
    max-width: 800px;
    margin: 10px auto;
}
/* Start Navbar Styling */
.navbar{
    background-color: #f1356d;
    margin: 0 auto;
    padding: 5px;
}

.navbar .brand {
    color: aliceblue;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
 

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* End Navbar Styling */

/* start content styling */
.post-list{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.post-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}

.post-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
/* End Content styling*/

/* start post details styling */


.post-details h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 10px;
  }
  
  .post-details div {
    margin: 20px 0;
  }
  .post-details button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
/* End post details styling */

/* Start Footer Styling */
.footer {
    background-color: #0009;
}

.footer .content{
    color: white;
    text-align: center;
    padding: 5px;
}
/* End Footer Styling */


